[submodule "Course 3 - Convolutional Neural Networks/Project - Landmark Classification/nd101-c2-landmarks-starter"]
	path = Course 3 - Convolutional Neural Networks/Project - Landmark Classification/nd101-c2-landmarks-starter
	url = https://github.com/Inventor22/nd101-c2-landmarks-starter.git
